@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Variáveis*/

:root{
    --cinzaClaro: #e0e0e0;
    --cinzaMedio: #616161;
    --cinzaEscuro: #292929;
}

/*Layout*/
.container ,main {
    display: flex;
    flex-direction: column;
    align-items: center;


}

html {

    font-size: 1.2rem;
}

body{

    background-color: var(--cinzaEscuro);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
    
/*Cabeçalho*/

header{

    text-align: center;

}

header img {

    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 30px;
}

header h1 {

    color: var(--cinzaClaro);
    font-size: 1.3rem;
    font-weight: 700;
    margin: 10px 0px 10px 0px;
}

header h2 {

    color: var(--cinzaClaro);
    font-size: 1rem;
    max-width: 210px;
    margin-bottom: 30px;

}

/*Conteúdo Principal*/
main a {

    background-color: var(--cinzaMedio);
    width: 320px;
    height: 60px;
    margin-bottom: 15px;
    text-decoration: none;
    color: var(--cinzaClaro);
    text-align: center;
    border-radius: 30px;
    padding: 20px;

}

/*Rodapé*/

footer {

    margin-top: 20px;
}

footer img{

    margin: 0px 5px 0px 5px;
    text-decoration: none;
}

footer a{

    text-decoration: none;
}